.popupWindowStyle {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 10000;
	opacity:0;
	-webkit-transition: opacity 300ms ease-in;
	-moz-transition: opacity 300ms ease-in;
	transition: opacity 300ms ease-in;
	pointer-events: none;
}

.popupWindowStyle:target {
	opacity:1;
	pointer-events: auto;
}

.popupWindowStyle > div {
	width: 80%;
	height: 80%;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #ffffff;
	background: -moz-linear-gradient(#ffffff, #999999);
	background: -webkit-linear-gradient(#ffffff, #999999);
	background: -o-linear-gradient(#ffffff, #999999);
}

.closeBar{
	width:80%;
	height:3%;
	position:relative;
}

.contentBlock{
	width:102%;
	height:100%;
	position: relative;
	overflow: auto;
}

.contentBlock::-webkit-scrollbar{
	width:0;
}

.close {
	position: absolute;
	background: #ff0000;
	color: #ff0000;
	line-height: 25px;
	right: -29%;
	text-align: center;
	top: -15px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000000;
	-webkit-box-shadow: 1px 1px 3px #000000;
	box-shadow: 1px 1px 3px #000000;
}

.close:hover
{ background: #ff0000; }